<ng-container *ngIf="status === 'updating'">
  <mat-progress-bar mode="determinate" [value]="(loadState.completed / loadState.total) * 100"></mat-progress-bar>
</ng-container>

<div [ngSwitch]="status" class="content">
  <ng-container *ngSwitchCase="'updating'">
    Updating
  </ng-container>
  <ng-container *ngSwitchCase="'storing'">
    Storing
  </ng-container>
  <ng-container *ngSwitchCase="''">
    <button *ngIf="issuesToUpdate" mat-button (click)="getAllIssues()">
      Load {{issuesToUpdate}} Issues
    </button>
  </ng-container>
</div>
