<div class="buttons">
  <button mat-button [mat-menu-trigger-for]="sortingMenu">
    <div class="button-content">
      <div class="sort-by"> Sort by: {{sorts.get(sort)}} </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>
</div>

<!-- Sort Menu -->
<mat-menu #sortingMenu="matMenu">
  <button mat-menu-item *ngFor="let id of sortIds" [class.selected]="sort == id"
          (click)="setSort(id)">
    <div class="button-content">
      <mat-icon *ngIf="!reverseSort">arrow_downward</mat-icon>
      <mat-icon *ngIf="reverseSort">arrow_upward</mat-icon>
      {{sorts.get(sort)}}
    </div>
  </button>
</mat-menu>
