:host {
  font-size: 14px;
}

.header {
  min-height: 48px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 24px;
}

.context, .priority-label-list {
  padding: 0 24px 16px;
}

.body {
  padding: 24px;
}

.priority-label {
  border-radius: 8px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 4px;
  display: inline-flex;
  margin: 4px;
}
