<div class="master">
  <div class="heading">
    Issues to pre-triage: {{(issues | async)?.length}}
  </div>

  <div class="issue-container" *ngFor="let issue of issues | async; trackBy: trackByNumber">
    <div class="issue" (click)="selectedIssue = issue" mat-ripple>
      <div class="title">
        {{issue.title}}
        <span class="issue-number">
          (<a class="theme-primary" [href]="issue.url">#{{issue.number}}</a>)
        </span>
      </div>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>

<div class="detail" *ngIf="selectedIssue; let issue">
  <issue-detail [issue]="selectedIssue"></issue-detail>
</div>
