<ng-container *ngIf="(itemsRenderer.itemGroups | async) !== null; else loading">
  <advanced-search [search]="itemsRenderer.options.search"
                   [filters]="itemsRenderer.options.filters"
                   [metadata]="issueFilterMetadata"
                   [autocompleteContext]="autocompleteContext | async"
                   (searchChanged)="itemsRenderer.options.search = $event"
                   (filtersChanged)="itemsRenderer.options.filters = $event">
  </advanced-search>
  <display-options-header></display-options-header>

  <div class="issues-container">
    <items-group *ngFor="let itemGroup of renderedItemGroups; let index = index; trackBy:getItemGroupKey"
                 [view]="(itemsRenderer.options.state | async)?.view"
                 [items]="itemGroup.items" [title]="itemGroup.title">
    </items-group>
  </div>

  <div *ngIf="loadingIssues" class="loading-more">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
</ng-container>

<ng-template #loading>
  <loading></loading>
</ng-template>
