<ng-container *ngIf="itemGroups !== null; else loading">
  <advanced-search [filterer]="itemsRenderer.filterer"></advanced-search>
  <display-options-header [options]="itemsRenderer.options.state | async"
                          (optionsChanged)="itemsRenderer.options.setState($event)"
                          [grouper]="itemsRenderer.grouper"
                          [itemCount]="(itemsRenderer.filteredData | async)?.length">
  </display-options-header>

  <div class="issues-container">
    <items-group *ngFor="let itemGroup of renderedItemGroups; let index = index; trackBy:getItemGroupKey"
                 [view]="(itemsRenderer.options.state | async)?.view"
                 [items]="itemGroup.items" [title]="itemGroup.title">
    </items-group>
  </div>

  <div *ngIf="loadingIssues" class="loading-more">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
</ng-container>

<ng-template #loading>
  <loading></loading>
</ng-template>
