<ng-container *ngIf="itemGroups !== null; else loading">
  <advanced-search [filterer]="itemsRenderer.filterer"></advanced-search>
  <display-options-header [grouper]="itemsRenderer.grouper"
                          [sorter]="itemsRenderer.sorter" [viewer]="viewer"
                          [itemCount]="itemCount | async">
  </display-options-header>

  <div class="issues-container">
    <items-group *ngFor="let itemGroup of renderedItemGroups; let index = index; trackBy:getItemGroupKey"
                 [views]="(viewer.state | async)?.views || []"
                 [items]="itemGroup.items" [title]="itemGroup.title">
    </items-group>
  </div>

  <div *ngIf="loadingIssues" class="loading-more">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
</ng-container>

<ng-template #loading>
  <loading></loading>
</ng-template>
