<div class="item theme-hover" mat-ripple [class.theme-background-hover]="active">
  <div class="info">
    <ng-container *ngFor="let view of views | async">
      <div *ngIf="(viewer.render(item, view) | async)?.length" [class]="view.containerClassList"
           [ngStyle]="view.containerStyles">
        <div *ngFor="let value of viewer.render(item, view) | async" [class]="'section ' + (value.classList || '')"
             [ngStyle]="value.styles || {}">
          {{value.text}}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="active" [style.visibility]="active ? 'visible' : 'hidden' ">
    <mat-icon> keyboard_arrow_right </mat-icon>
  </div>
</div>
