<div class="title"> {{activatedRepository.repository | async}} </div>

<div class="description">
  <div class="type issues theme-border theme-background-card">
    <div class="type-title">
      {{((totalIssueCount | async) || '...')}} Issues
    </div>

    <div class="issues-form" [formGroup]="formGroup">
      <mat-select formControlName="issueDateType">
        <mat-option *ngFor="let option of ['all issues', 'since']"
                    [value]="option">
          {{option}}
        </mat-option>
      </mat-select>

      <div class="datepicker" *ngIf="formGroup.value.issueDateType === 'since'">
        <input formControlName="issueDate" [matDatepicker]="picker"
               class="theme-border" (click)="picker.open()"
               placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
  </div>

  <div class="type labels theme-border theme-background-card">
    <div class="type-title">
      {{((totalLabelsCount | async) || '...')}} Labels
    </div>
  </div>
</div>

<div class="state theme-secondary-text" *ngIf="state && state.label">
  {{state.label}}
</div>

<button mat-raised-button color="primary" *ngIf="!state" (click)="store()">
  Load Data
</button>

<button mat-raised-button color="primary" *ngIf="state?.id === 'complete'"
        [disabled]="state.id !== 'complete'" mat-dialog-close="true">
  {{state.id === 'complete' ? 'Close' : 'Storing...'}}
</button>

<ng-container *ngIf="state?.progress; let progress">
  <mat-progress-bar *ngIf="progress.type === 'determinate'" mode="determinate"
                    [value]="state.progress.value">
  </mat-progress-bar>

  <mat-progress-bar *ngIf="progress.type === 'indeterminate'"
                    mode="indeterminate">
  </mat-progress-bar>
</ng-container>
