<div class="issue theme-hover" mat-ripple [class.theme-background-hover]="active">
  <div class="info">
    <div class="top-row theme-text">
      <div class="name">
        <span class="section">
          {{issue.title}}
        </span>
      </div>
    </div>

    <div class="details theme-secondary-text">
      <div class="section" *ngIf="issuesRenderer.options.view.assignee">
        Assignee: {{issue.reporter}}
      </div>

      <div class="section theme-warn" *ngIf="(issueRecommendations.recommendations | async)?.get(issue.number); let recommendations">
        <div *ngFor="let r of recommendations">
          {{r.message}}
        </div>
      </div>
    </div>
  </div>

  <div class="active" [style.visibility]="active ? 'visible' : 'hidden' ">
    <mat-icon> keyboard_arrow_right </mat-icon>
  </div>
</div>
