<button mat-fab (click)="createIssueQuery()"
        [matTooltip]="'Create New Issue Query'">
  <mat-icon>add</mat-icon>
</button>

<ng-container
              *ngIf="issueQueryGroups | async; let issueQueryGroups; else loading">
  <div class="group" *ngFor="let issueQuery of issueQueryGroups">
    <div class="group-title">
      {{issueQuery.name}}
    </div>

    <div class="issue-queries">
      <ng-container
                    *ngFor="let issueQuery of issueQuery.issueQueries; trackBy: issueQueryKeyTrackBy">
        <div class="issue-query theme-hover" mat-ripple
             (click)="navigateToIssueQuery(issueQuery.id)">
          <div class="name"> {{issueQuery.name}}
            ({{(issueQueryResultsCount | async)?.get(issueQuery.id) || '...'}})
          </div>

          <issue-query-menu [issueQuery]="issueQuery" icon="more_vert"
                            (click)="$event.stopPropagation()">
          </issue-query-menu>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
</ng-container>


<ng-template #loading>
  <loading label="issue queries"></loading>
</ng-template>
