@import '../common';
@import '../../../../constants';

:host {
  @include content-width;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 32px;
}

.title {
  font-size: 18px;
  padding: 16px;
}
