<div class="master theme-border">
  <advanced-search [metadata]="issueFilterMetadata" [search]="search" [filters]="filters"
                   (searchChanged)="search = $event" (filtersChanged)="filters = $event">
  </advanced-search>

  <div class="issue-container" *ngFor="let issue of issues; trackBy: trackByNumber">
    <div class="issue theme-hover" [ngClass]="{'theme-background-hover': issue.number === selectedIssue, 'selected': issue.number === selectedIssue}"
         (click)="selectedIssue = issue.number" mat-ripple>
      <div class="title">
        {{issue.title}}
        <span class="issue-number">
          (<a class="theme-primary" [href]="issue.url">#{{issue.number}}</a>)
        </span>
      </div>
      <mat-icon class="has-recommendations theme-warn" *ngIf="(issueRecommendations.get(issue.number) | async)?.length">
        warning </mat-icon>
      <mat-icon class="selected-indicator">keyboard_arrow_right</mat-icon>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>

<div class="detail" *ngIf="selectedIssue">
  <issue-detail [issueId]="selectedIssue"></issue-detail>
</div>
