:host {
  display: flex;
  flex-direction: column;
}

.column-group {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 16px;
}

mat-slide-toggle {
  margin-right: 16px;
  font-size: 16px;
}
