button[mat-fab] {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 32px;
  z-index: 1;
}

@keyframes breathing-animation {
  0%, 100%   { opacity: 0.9; transform: scale(.9); }
  50%  { opacity: 1.0; transform: scale(1.2); }
}

.breathing {
  animation: breathing-animation 3s infinite;
  opacity: 0.9;
}
