<h1 mat-dialog-title> Edit Widget </h1>

<div mat-dialog-content>
  <form [formGroup]="form">

    <div class="type">
      <div class="label"> Title </div>
      <input matInput formControlName="title">
    </div>

    <div class="type">
      <div class="label"> Display Type </div>
      <mat-button-toggle-group formControlName="displayType">
        <mat-button-toggle value="list"> List </mat-button-toggle>
        <mat-button-toggle value="count"> Count </mat-button-toggle>
        <mat-button-toggle value="pie"> Pie Chart </mat-button-toggle>
        <mat-button-toggle value="time-series"> Time Series </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <ng-container [ngSwitch]="form.value.displayType"
                  [formGroup]="displayTypeOptionsForm[form.value.displayType]">

      <ng-container *ngSwitchCase="'count'">
        <div class="type">
          <div class="label"> Font Size </div>
          <mat-button-toggle-group formControlName="fontSize">
            <mat-button-toggle value="small"> Small </mat-button-toggle>
            <mat-button-toggle value="normal"> Normal </mat-button-toggle>
            <mat-button-toggle value="large"> Large </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'list'">
        <div class="type">
          <div class="label"> Max List Length </div>
          <input matInput formControlName="listLength">
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'pie'">
        <div class="type">
          <div class="label"> Group By </div>
          <mat-button-toggle-group formControlName="group">
            <mat-button-toggle *ngFor="let groupId of groupIds"
                               [value]="groupId">
              {{groups.get(groupId)?.label}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="type">
          <div class="label"> Filtered Groups </div>
          <input matInput formControlName="filteredGroupsByTitle">
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'time-series'">
        <div class="type">
          <div class="label"> Date Range Start </div>
          <input formControlName="start" [matDatepicker]="startPicker"
                 (click)="startPicker.open()">
          <mat-datepicker #startPicker></mat-datepicker>
        </div>

        <div class="type">
          <div class="label"> Date Range End </div>
          <input formControlName="end" [matDatepicker]="endPicker"
                 (click)="endPicker.open()">
          <mat-datepicker #endPicker></mat-datepicker>
        </div>

        <div class="type">
          <div class="label"> Datasets </div>
          <mat-button-toggle-group formControlName="datasets" multiple>
            <mat-button-toggle value="open"> Open </mat-button-toggle>
            <mat-button-toggle value="closed"> Closed </mat-button-toggle>
            <mat-button-toggle value="created"> Created </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="type">
          <div class="label"> Group </div>
          <mat-button-toggle-group formControlName="group">
            <mat-button-toggle value="day"> Day </mat-button-toggle>
            <mat-button-toggle value="week"> Week </mat-button-toggle>
            <mat-button-toggle value="month"> Month </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

      </ng-container>

    </ng-container>

    <div class="type">
      <div class="label"> Query Type </div>
      <mat-button-toggle-group formControlName="itemType">
        <mat-button-toggle value="issue"> Issue </mat-button-toggle>
        <mat-button-toggle value="pr">Pull Request</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>

  <div class="query">
    <button mat-button [matMenuTriggerFor]="loadSearch">
      Load Saved Search
    </button>

    <advanced-search [filterer]="itemGroupsDataSource.filterer">
    </advanced-search>
    <display-options-header [sorter]="itemGroupsDataSource.sorter"
                            [viewer]="viewer"
                            [itemCount]="(itemGroupsDataSource.filteredData | async)?.length">
    </display-options-header>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close> Cancel </button>
  <button mat-raised-button (click)="edit()" color="primary"> Save </button>
</div>

<mat-menu #loadSearch="matMenu">
  <button mat-menu-item *ngIf="(recommendationsList | async)?.length > 0"
          [matMenuTriggerFor]="recommendationsMenu"> Recommendations
  </button>
  <button mat-menu-item
          *ngIf="(issueQueries | async)?.length > 0 && form.value.itemType === 'issue'"
          [matMenuTriggerFor]="issueQueriesMenu"> Issue Queries
  </button>
  <button mat-menu-item
          *ngIf="(prQueries | async)?.length > 0 && form.value.itemType === 'pr'"
          [matMenuTriggerFor]="prQueriesMenu"> Pull Request Queries
  </button>
</mat-menu>

<mat-menu #recommendationsMenu="matMenu">
  <button mat-menu-item
          *ngFor="let recommendation of recommendationsList | async"
          (click)="loadFromRecommendation(recommendation)">
    {{recommendation.message}}
  </button>
</mat-menu>

<mat-menu #issueQueriesMenu="matMenu">
  <button mat-menu-item *ngFor="let query of issueQueries | async"
          (click)="loadFromQuery(query)">
    {{query.name}}
  </button>
</mat-menu>

<mat-menu #prQueriesMenu="matMenu">
  <button mat-menu-item *ngFor="let query of prQueries | async"
          (click)="loadFromQuery(query)">
    {{query.name}}
  </button>
</mat-menu>
