<ng-container *ngIf="dashboardsDao.list | async; let dashboards; else loading">
  <div mat-ripple
       class="dashboard theme-border theme-background-card theme-hover"
       *ngFor="let dashboard of dashboards; trackBy: trackById"
       (click)="navigateToDashboard(dashboard.id)">
    {{dashboard.name}}
    <button mat-button (click)="dashboardsDao.remove(dashboard.id)"> Delete
    </button>
  </div>

  <button mat-stroked-button (click)="newDashboard()" color="primary" class="new">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<ng-template #loading>
  <loading label="dashboards"></loading>
</ng-template>
