:host {
  display: flex;
}

.dashboard {
  width: 350px;
  height: 150px;
  padding: 16px;
  margin: 16px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.new {
  height: 56px;
  align-self: center;
  margin: 56px;
}
