<ng-container *ngIf="dashboardsDao.list | async; let dashboards; else loading">
  <div class="dashboard theme-border theme-background-card theme-hover"
       *ngFor="let dashboard of dashboards; trackBy: trackById"
       (click)="navigateToDashboard(dashboard.id)">

    <div class="heading">
      <div class="name">{{dashboard.name}}</div>

      <button mat-icon-button (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="settings">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <mat-menu #settings="matMenu">
      <button mat-menu-item (click)="edit.emit()"> Edit Name </button>
      <button mat-menu-item (click)="edit.emit()"> Edit Description </button>
      <button mat-menu-item (click)="remove.emit()"> Remove </button>
    </mat-menu>
  </div>
</ng-container>

<ng-template #loading>
  <loading label="dashboards"></loading>
</ng-template>

<button mat-fab (click)="createDashboard()" matTooltip="New dashboard"
        [matTooltipPosition]="'before'">
  <mat-icon>add</mat-icon>
</button>
