<div class="master theme-border">
  <items-list [itemsRenderer]="itemsRenderer"></items-list>

  <ng-template cdkPortal>
    <ng-container *ngIf="query">
      <button mat-raised-button color="primary" *ngIf="!query.id"
              class="save-as" (click)="saveAs()">
        Save As
      </button>

      <button mat-raised-button color="primary" *ngIf="query.id"
              (click)="save()" [disabled]="!canSave">
        {{canSave ? 'Save' : 'Saved'}}
      </button>

      <query-menu [query]="query" icon="settings" *ngIf="query.id"
                  [optionsOverride]="currentOptions">
      </query-menu>
    </ng-container>
  </ng-template>
</div>

<div class="detail" *ngIf="!isMobile()">
  <item-detail [itemId]="itemId | async"></item-detail>
</div>
