<div class="master theme-border">
  <issues-list *ngIf="query?.options" [type]="query.type"
               [issuesRendererOptionsState]="query.options"
               (issuesRendererOptionsChanged)="currentOptions = $event">
  </issues-list>

  <ng-template cdkPortal>
    <ng-container *ngIf="query">
      <button mat-raised-button color="primary" *ngIf="!query.id"
              class="save-as" (click)="saveAs()">
        Save As
      </button>

      <button mat-raised-button color="primary" *ngIf="query.id"
              (click)="save()" [disabled]="!canSave">
        {{canSave ? 'Save' : 'Saved'}}
      </button>

      <issue-query-menu [issueQuery]="query" icon="settings" *ngIf="query.id"
                        [optionsOverride]="currentOptions">
      </issue-query-menu>
    </ng-container>
  </ng-template>
</div>

<div class="detail" *ngIf="!isMobile()">
  <issue-detail [itemId]="issueId | async"></issue-detail>
</div>
