<div class="item theme-hover" mat-ripple
     [class.theme-background-hover]="active">
  <div class="info">
    <div class="top-row theme-text">
      <div class="name">
        <span class="section">
          {{item.title}}
        </span>
      </div>
    </div>

    <div class="details theme-secondary-text">
      <ng-container *ngIf="view.reporter">
        <div class="section">
          Reporter: {{item.reporter}}
        </div>
      </ng-container>

      <ng-container *ngIf="view.assignees">
        <div class="section" *ngIf="item.assignees.length === 1">
          Assignee: {{item.assignees}}
        </div>
        <div class="section" *ngIf="item.assignees.length > 1">
          Assignees: {{item.assignees}}
        </div>
      </ng-container>

      <ng-container *ngIf="view.labels">
        <div class="section">
          <label-list [labelIds]="item.labels"></label-list>
        </div>
      </ng-container>

      <ng-container
                    *ngIf="(warnings | async)?.length && view.warnings">
        <div class="section theme-warn">
          <div *ngFor="let warning of warnings | async" class="recommendation">
            <mat-icon> warning </mat-icon>
            {{warning.message}}
          </div>
        </div>
      </ng-container>

      <ng-container
                    *ngIf="(suggestions | async)?.length && view.suggestions">
        <div class="section">
          <div *ngFor="let suggestion of suggestions | async"
               class="recommendation">
            <mat-icon> label_important </mat-icon>{{suggestion.message}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="active" [style.visibility]="active ? 'visible' : 'hidden' ">
    <mat-icon> keyboard_arrow_right </mat-icon>
  </div>
</div>
