<div class="config-option" *ngFor="let configOption of configOptions"
     [formGroup]="formGroup" [ngSwitch]="configOption.type">

  <div class="label"> {{configOption.label}} </div>

  <ng-container *ngSwitchCase="'buttonToggle'">
    <mat-button-toggle-group [formControlName]="configOption.id">
      <mat-button-toggle *ngFor="let option of options" [value]="option.id">
        {{option.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>


  <ng-container *ngSwitchCase="'datepicker'">
    <input class="theme-border" [formControlName]="configOption.id"
           [matDatepicker]="picker" (click)="picker.open()">
    <mat-datepicker #picker></mat-datepicker>
  </ng-container>


  <ng-container *ngSwitchCase="'grouperState'">
    <mat-select class="theme-border">
      <mat-option *ngFor="let groupId of groupIds" [value]="groupId">
        {{itemGroupsDataSource.grouper.metadata.get(groupId)?.label}}
      </mat-option>
    </mat-select>
  </ng-container>


  <ng-container *ngSwitchCase="'input'">
    <input class="theme-border" matInput [formControlName]="configOption.id"
           [type]="configOption.inputType">
  </ng-container>


  <ng-container *ngSwitchCase="'sorterState'">
    Implement sorter state
  </ng-container>


  <ng-container *ngSwitchCase="'viewerState'">
    <editable-chip-list [values]="configOption.initialValue" [autocomplete]="viewLabels"
                        (listChange)="setViewerStateFormValues(configOption.id, $event)">
    </editable-chip-list>
  </ng-container>
</div>
