<div class="heading" *ngIf="(recommendationsDao.list | async)?.length > 3">
  <input [formControl]="filter" class="theme-border"
         placeholder="Filter recommendations">
  <button mat-button (click)="expandAll()"> Expand All </button>
</div>

<ng-container *ngIf="sortedRecommendations | async; let list; else loading">
  <div *ngFor="let recommendation of list; trackBy: trackById">
    <editable-recommendation [recommendation]="recommendation">
    </editable-recommendation>
  </div>
</ng-container>

<ng-template #loading>
  <loading label="recommendations"></loading>
</ng-template>

<ng-container *ngIf="sortedRecommendations | async; let sortedRecommendations">
  <new-fab type="recommendation" [breathing]="!sortedRecommendations.length" (click)="add()">
  </new-fab>
</ng-container>
