:host {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 32px auto;
}

.action {
  display: flex;
  justify-content: center;
}

loading {
  margin-top: 64px;
}

button.create {
  margin-right: 16px;
}

.heading {
  display: flex;
  margin: 16px 16px 48px 16px;
}

input {
  flex: 1;
  outline: none;
  background: inherit;
  color: inherit;
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  font-size: inherit;
}
