<div class="widget-header theme-text">
  <div class="title" (click)="!editMode ? openQuery() : null">
    {{widget.title}}
  </div>
  <button mat-icon-button *ngIf="editMode" [matMenuTriggerFor]="settings">
    <mat-icon> settings </mat-icon>
  </button>
</div>

<ng-container *ngIf="items; else loading">
  <ng-container [ngSwitch]="widget.displayType">
    <list *ngSwitchCase="'list'" [widget]="widget"
          [itemsRenderer]="itemsRenderer"></list>
    <count *ngSwitchCase="'count'" [widget]="widget"
           [itemsRenderer]="itemsRenderer"></count>
    <pie-chart *ngSwitchCase="'pie'" [widget]="widget"
               [itemsRenderer]="itemsRenderer"></pie-chart>
  </ng-container>
</ng-container>

<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="edit.emit()"> Edit </button>
  <button mat-menu-item (click)="duplicate.emit()"> Duplicate </button>
  <button mat-menu-item (click)="remove.emit()"> Remove </button>
</mat-menu>

<ng-template #loading>
  <loading></loading>
</ng-template>
