<div class="widget-header theme-text">
  <div class="title" (click)="!editMode ? openQuery() : null">
    {{widget.title}}
  </div>
  <button mat-icon-button *ngIf="editMode" [matMenuTriggerFor]="settings">
    <mat-icon> settings </mat-icon>
  </button>
</div>

<ng-container [ngSwitch]="widget.displayType">

  <ng-container *ngSwitchCase="'list'">
    <ng-container *ngIf="items; else loading">
      <ng-container
                    *ngFor="let item of items.slice(0, widget.listLength); trackBy: trackByNumber; let last = last">
        <item-summary [item]="item" (select)="openItemModal($event)"
                      [style.pointer-events]="editMode ? 'none' : ''">
        </item-summary>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </ng-container>
  </ng-container>


  <ng-container *ngSwitchCase="'count'">
    <ng-container *ngIf="items; else loading">
      <div class="count">
        {{itemsRenderer.itemCount | async}}
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="edit.emit()"> Edit </button>
  <button mat-menu-item (click)="duplicate.emit()"> Duplicate </button>
  <button mat-menu-item (click)="remove.emit()"> Remove </button>
</mat-menu>

<ng-template #loading>
  <loading></loading>
</ng-template>
