// Import your custom theme
@import '../common';

:host {
  @include content-width;
  display: block;
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

button.mat-button {
  min-width: 0;
  display: block;
  padding: 0 8px;
}

.button-content {
  display: flex;
  align-items: center;
}

.group-by, .sort-by {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button.mat-menu-item {
  mat-icon {
    visibility: hidden;
  }

  &.selected {
    font-weight: bold;
    mat-icon {
      visibility: visible;
    }
  }
}
