<div class="buttons">
  <button mat-button [mat-menu-trigger-for]="groupingMenu">
    <div class="button-content">
      <div class="group-by"> Group by:
        {{groups.get(issuesRenderer.options.grouping)}} </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>

  <button mat-button [mat-menu-trigger-for]="sortingMenu">
    <div class="button-content">
      <div class="sort-by"> Sort by:
        {{sorts.get(issuesRenderer.options.sorting)}} </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>
</div>

<!-- Group Menu -->
<mat-menu #groupingMenu="matMenu">
  <div class="menu-title theme-text">Group by:</div>
  <mat-divider></mat-divider>
  <button mat-menu-item *ngFor="let groupId of groupIds"
          [class.selected]="issuesRenderer.options.grouping == groupId"
          (click)="issuesRenderer.options.grouping = groupId">
    <div class="button-content">
      <mat-icon>check</mat-icon>
      {{groups.get(groupId)}}
    </div>
  </button>
</mat-menu>

<!-- Sort Menu -->
<mat-menu #sortingMenu="matMenu" xPosition="after">
  <div class="menu-title theme-text">Sort by:</div>
  <mat-divider></mat-divider>
  <button mat-menu-item *ngFor="let sort of sortIds"
          [class.selected]="issuesRenderer.options.sorting == sort"
          (click)="setSort(sort)">
    <div class="button-content">
      <mat-icon *ngIf="!issuesRenderer.options.reverseSort">
        arrow_upward
      </mat-icon>
      <mat-icon *ngIf="issuesRenderer.options.reverseSort">
        arrow_downward
      </mat-icon>
      {{sorts.get(sort)}}
    </div>
  </button>
</mat-menu>
