<div class="master theme-border">
  <issues-list *ngIf="issueQuery?.options"
               [issuesRendererOptionsState]="issueQuery.options"
               (issuesRendererOptionsChanged)="currentOptions = $event">
  </issues-list>

  <ng-template cdkPortal>
    <ng-container *ngIf="issueQuery">
      <button mat-raised-button color="primary" *ngIf="!issueQuery.id"
              (click)="saveAs()">
        Save As
      </button>

      <button mat-raised-button color="primary" *ngIf="issueQuery.id"
              (click)="save()" [disabled]="!canSave">
        {{canSave ? 'Save' : 'Saved'}}
      </button>

      <issue-query-menu [issueQuery]="issueQuery" icon="settings"
                   [optionsOverride]="currentOptions">
      </issue-query-menu>
    </ng-container>
  </ng-template>
</div>

<div class="detail">
  <issue-detail [issueId]="issueId | async"></issue-detail>
</div>
