<div class="header">
  <div class="app-title">{{activatedRepository.repository | async}} </div>
</div>

<mat-divider></mat-divider>

<div class="link-list">
  <ng-container *ngFor="let link of links">
    <div mat-button class="link theme-text" (click)="sidenav.close()"
         *ngIf="link.requiresData ? !(repoDao.repo | async)?.empty : true"
         routerLinkActive="active" [routerLink]="link.route">
      <div class="link-highlight"></div>
      <div class="link-text">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </div>
    </div>
  </ng-container>
</div>

<mat-divider></mat-divider>

<div class="settings">
  <ng-container *ngIf="afAuth.authState | async; let user; else settingsLabel">
    <div class="pic" [style.backgroundImage]="'url(' + user.photoURL + ')'">
    </div>
    <div class="info">
      <div> {{user.displayName}} </div>
      <div class="user-email"> {{user.email}} </div>
    </div>
  </ng-container>
  <ng-template #settingsLabel>
    <button mat-button (click)="loginWithGithub()" class="sign-in">Login to
      Github</button>
  </ng-template>
  <button mat-icon-button [mat-menu-trigger-for]="settings">
    <mat-icon> settings </mat-icon>
  </button>
</div>

<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="theme.toggle(true)">
    <mat-icon> wb_sunny </mat-icon>
    Use {{theme.isLight ? 'Dark' : 'Light' }} Theme
  </button>

  <button mat-menu-item (click)="updateCache()">
    <mat-icon> cached </mat-icon>
    Update cache
  </button>

  <button mat-menu-item (click)="signOut()">
    <mat-icon> exit_to_app </mat-icon>
    {{(afAuth.authState | async) ? 'Logout' : 'Clear Access Token'}}
  </button>
</mat-menu>
