<h1 mat-dialog-title> Edit Widget </h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="title">
      <mat-label> Title </mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <div class="type">
      <div class="label"> Query Type </div>
      <mat-button-toggle-group formControlName="itemType">
        <mat-button-toggle value="issue"> Issue </mat-button-toggle>
        <mat-button-toggle value="pr">Pull Request</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="type">
      <div class="label"> Display Type </div>
      <mat-button-toggle-group formControlName="displayType">
        <mat-button-toggle value="list"> List </mat-button-toggle>
        <mat-button-toggle value="count"> Count </mat-button-toggle>
        <mat-button-toggle value="pie"> Pie Chart </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <ng-container [ngSwitch]="form.value.displayType">
      <ng-container *ngSwitchCase="'list'">
        <mat-form-field class="list-length">
          <mat-label> Max List Length </mat-label>
          <input matInput formControlName="listLength">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'pie'">
        <mat-form-field class="list-length">
          <mat-label> Groups </mat-label>
          <input matInput formControlName="pieChartGroup">
        </mat-form-field>
      </ng-container>
    </ng-container>
  </form>

  <button mat-button [matMenuTriggerFor]="loadSearch">
    Load Saved Search
  </button>

  <advanced-search [search]="itemsRenderer.options.search"
                   [filters]="itemsRenderer.options.filters"
                   [metadata]="metadata"
                   (searchChanged)="itemsRenderer.options.search = $event"
                   (filtersChanged)="itemsRenderer.options.filters = $event">
  </advanced-search>
  <display-options-header [hideGrouping]="true"></display-options-header>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close> Cancel </button>
  <button mat-raised-button (click)="edit()" color="primary"> Save </button>
</div>

<mat-menu #loadSearch="matMenu">
  <button mat-menu-item *ngIf="(recommendationsDao.list | async)?.length > 0"
          [matMenuTriggerFor]="recommendationsMenu"> Recommendations
  </button>
  <button mat-menu-item
          *ngIf="(issueQueries | async)?.length > 0 && form.value.itemType === 'issue'"
          [matMenuTriggerFor]="issueQueriesMenu"> Issue Queries
  </button>
  <button mat-menu-item
          *ngIf="(prQueries | async)?.length > 0 && form.value.itemType === 'pr'"
          [matMenuTriggerFor]="prQueriesMenu"> Pull Request Queries
  </button>
</mat-menu>

<mat-menu #recommendationsMenu="matMenu">
  <button mat-menu-item
          *ngFor="let recommendation of recommendationsDao.list | async"
          (click)="loadFromRecommendation(recommendation)">
    {{recommendation.message}}
  </button>
</mat-menu>

<mat-menu #issueQueriesMenu="matMenu">
  <button mat-menu-item *ngFor="let query of issueQueries | async"
          (click)="loadFromQuery(query)">
    {{query.name}}
  </button>
</mat-menu>

<mat-menu #prQueriesMenu="matMenu">
  <button mat-menu-item *ngFor="let query of prQueries | async"
          (click)="loadFromQuery(query)">
    {{query.name}}
  </button>
</mat-menu>
