form {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.type {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .label {
    margin-right: 16px;
  }
}

.mat-dialog-content {
  margin: 0 -40px;
}
